#tituloPrincipal {
color: red;
}

.parrafos {
    text-align: center;
    color: blue;
    font-weight: bold;
    }
    
.enfasis {
    background-color: buttonshadow;
}    

a {
   color: blueviolet 
} 